.Fields__body{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin:0 1rem;

}
.Fields{
    display: flex;
    flex-direction: column;

}
.Fields label{
    font-size: 0.8rem;
    font-family: "Ubuntu Regular";
    font-weight: 600;
    color: rgb(54, 54, 107);
}
.Fields input{
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-family: "Ubuntu Bold";
    height: 2rem;
    color: rgb(99, 99, 99);
    text-indent: 0.7rem;
}
@media only screen and (min-width: 800px) {
    .Fields__body{
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        width: 450px;
        margin-top: -6rem;
    }
    .Fields input{
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 0.8rem;
        font-family: "Ubuntu Bold";
        height: 2rem;
        color: rgb(99, 99, 99);
        text-indent: 0.7rem;
    }
  }